@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
body{
    background-color: turquoise;
}
.form-container{

    max-width: 300px;

    height: 500px; 

    border:2px solid black;

    margin:auto;

    box-shadow:2px 2px 10px rgb(0, 0, 0,0.3);

    margin-top:100px;

    padding:20px; 

    padding:40px 20px 40px 20px;

    background-color: white;
}
h1{
    text-align:center ;
   text-transform:uppercase;
}
.subtext{
    margin: 15px;
}
.input{
    margin: 15px;
    display:block;
    padding: 5px;
}
.input2{
    margin:15px;
    padding: 5px;
}
.input3{
    margin:15px;
    padding: 5px 0;
}
.input4{
    margin:15px;
    padding: 5px;
}
.input5{
    margin:15px;
    padding: 5px;
}
.subtexttext-left{
    margin:15px;
    padding: 5px;
}
.input6{
    padding: 10px;
    color:black;
    width: 100%;
    height:80%;
    background-color: teal;
    box-shadow: 25px 15px 25px rgb(0, 128, 128,.3);
    overflow: hidden;
    border: none; 
}